/* Este arquivo configura as cores de todos os elementos nos documentos */

/*
-- Configurações da folha de estilo
*/

/* Cores dos textos */
.btn,
.frm label,
h1,
legend,
.resposta,
.interface-resposta {
  color: #FFF;
}

.txt-confirm {
  color: #00A651;
}

.txt-alert {
  color: #ED1C24;
}

input:valid {
  color: #08C808;
  border: 1px solid #0F0;
}

input:invalid {
  color: #F00;
  border: 1px solid #F00;
}

/* Cores de fundo */
fieldset,
.resposta,
#resultstwo,
#resultsthree {
  background-color: rgba(0, 0, 0, .6);
  border: 2px solid #A17D41;
}

/* Botão de confirmação */
.confirm {
  background-color: #00A651;
}

/* Botão de não confirmação */
.alert {
  background-color: #ED1C24;
}

.filtro {
  background-color: #211CED;
}

button.confirm {
  box-shadow: 0 5px 0 #026131;
}

button.alert {
  box-shadow: 0 5px 0 #901318;
}

button.filtro {
  box-shadow: 0 5px 0 #131086;
}

.checked {
  background-color: #00ABF9;
}
