/* Este arquivo configura as cores de todos os elementos nos documentos */

/*
-- Configurações da folha de estilo
*/

/* Cores dos textos */
.btn,
.frm label,
h1 {
  color: #FFF;
}

.txt-confirm {
  color: #00A651;
}

.txt-alert {
  color: #ED1C24;
}

legend {
  color: #A17D41;
}

/* Cores de fundo */
fieldset,
.resposta {
  background-color: rgba(0, 0, 0, .6);
  border: 2px solid #A17D41;
}

/* Botão de confirmação */
.confirm {
  background-color: #00A651;
}

/* Botão de não confirmação */
.alert {
  background-color: #ED1C24;
}

.checked {
  background-color: #00ABF9;
}
