/* Arquivo para cores e fonts dos arquivos PHP */

input[type="submit"],
label,
.bt-result,
.bt-voltar,
.result,
.bt-menor
{
    color: #fff;
}

input[type="text"]:focus{
    border: 2px solid rgb(255, 112, 0);
    color: rgb(255, 112, 0);
}

.confirm
{
    color: #0f0;
}

.alert
{
    color: #f5ff00;
}

select,
input[type="number"]
{
    color: #000;
}