@charset "UTF-8";
/* Este arquivo será o arquivo geral, para todos os documentos do projeto */

/*
--- Configurações gerais:

++ Fundo, ou background;
++ Configurações de butao, em que todos terão a aparencia de butao;
++ Tamanho dos formulário e sua posição;
*/

*{
  box-sizing: border-box;
  font-family: Arial;
  text-decoration: none;
}

/* Fundo */
body{
  margin: 0;
  padding: 0;
  background: url(../img/fundo.png);
  background-size: 100%;
  font-size: 62.5%;
}

/* Formatando a div principal */
.interface{
  margin: 0 auto;
  width: 100%;
  height: auto;
}

/* Aparencia de butao */
.btn {
  padding: 1.5em;
  margin: 1em;
  transition: all .2s;
  border: none;
  cursor: pointer;
  font-size: 1.8em;
}

.btn:active {
  box-shadow: none;
}

/* Formatando o botão de voltar */
.bt-voltar {
	position: absolute;
	top: 2%;
	left: 2%;
  margin: 0;
  font-size: 1.6em;
  background-color: #417BB8;
  box-shadow: 0 10px 0 #26486C;
}

/* Formatando o subtitulo */
h1 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
}

/* Tamanho dos formulários */
.frm {
  display: block;
  margin: 0 auto;
}

.frm-small {
  width: 25%;
}

.frm-medium {
  width: 50%;
}

.frm-large {
  width: 90%;
}

/* Estilizando os butoes dos menis */
.btn-menu{
  margin: auto;
  font-size: 2em;
  color: #FFF;
  border-radius: 4px;
  background-color: #FF6600;
	box-shadow: 0 10px 0 #9D3E00;
}

.btn-menu:hover{
  color: #020052;
}
