@charset "UTF-8";
/* Este arquivo será o arquivo geral, para todos os documentos do projeto */

/*
--- Configurações gerais:

++ Fundo, ou background;
++ Configurações de butao, em que todos terão a aparencia de butao;
++ Tamanho dos formulário e sua posição;
*/

*{
  box-sizing: border-box;
  font-family: Arial;
  text-decoration: none;
}

/* Fundo */
body{
    padding: 0;
    margin: 0;
    background: url(../img/biblioteca_form_alta_res.png);
    background-size: 100%;
    font-size: 62.5%;
}

/* Formatando a div principal */
.interface{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Aparencia de butao */
.btn {
  box-shadow: 5px 5px 0 #006000;
  padding: 2em;
  color: #FFF;
  background-color: #0F0;
  margin: 1em;
  font-size: 1.8em;
  transition: all .5s;
}

.btn:active {
  box-shadow: none;
}

/* Formatando o botão de voltar */
.bt-voltar {
	position: absolute;
	top: 2%;
	left: 2%;
}

/* Formatando o subtitulo */
h1 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    margin-bottom: 2em;
}

/* Tamanho dos formulários */
.frm {
  display: block;
}

.frm-small {
  width: 25%;
}

.frm-medium {
  width: 50%;
}

.frm-large {
  width: 90%;
}
