@charset: "UTF-8";

@import url("geral.css");
@import url("color.css");

figure {
  display: block;
  width: 40%;
  margin: 0 auto;
}

figure img {max-width: 100%;}

figure.emanuel {
  border-radius: 100%;
  overflow: hidden;
}

p {
  width: 80%;
  margin: 1em auto;
  text-align: center;
  font-size: 1.6em;
  padding: 1em;
  background-color: rgba(0, 0, 0, .8);
  color: #FFF;
}

.separates {
  width: 50%;
  display: inline-block;
  margin-top: 3em;
}

.separates:first-child {
  float: left;
}

.separates:last-child {
  float: right;
}
