/* Arquivo que formata todos os formularios */
@import url(geral.css);
@import url(color.css);

@charset "utf-8";

h1 {
  margin-top: 2em;
}

/* Formatando o formulario */
label {
  font-weight: bold;
  font-size: 2em;
  word-wrap: break-word;
}

/* Formatando as divs dentro dos formulários */
.frm div {
  margin: 1em auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.frm-medium select {
  width: 80%;
}

/* Caso precisa preencher todo o formulário */
.col-large,
.col-tres {
  width: 100%;
}

/* Caso a div tem mais de uma coluna */
.col-tres {
  display: flex;
}

.col-tres div {
  flex-grow: 1;
}

.col-tres div:not(:first-child) {
  padding-left: 1em;
}

.col-tres input[type="number"],
.col-tres input[type="text"],
.col-tres select,
.form_lista select,
.form_lista input[type="number"] {
  width: 50%;
  height: 2em;
}

select {
  font-size: 2em;
}

input {
  padding: .3em;
  font-size: 2em;
}

input:focus {
  border: 1px solid #00F;
  color: #00F;
}

input[type="text"] {
  width: 80%;
}

/* Formantando os fieldsets */
fieldset {
  border: 2px solid #A17D41;
  border-radius: 5px;
  width: 100%;
}

legend{
  font-size: 1.8em;
}

/* Selecionando a div dos butoes de confirmar e cancelar nos formulários de de cadastro */
.div-butoes {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.div-butoes button {
  width: 15em;
  height: 2.5em;
  padding: 0;
  font-size: 1.6em;
}

/* Estilizando os butoes para a pesquisa */
.bt-esc {
	border: none;
	width: 50%;
	margin: 5px auto;
	cursor: pointer;
  font-size: 1.6em;
  padding: 1em;
}

/* Formantando os butoes para os formulários de pesquisa e registrar emprestimo */
.bt,
.filtro {
	margin: 0;
  padding: 1em;
  font-size: 1.6em;
  flex-grow: 1;
}

.filtro {
  margin: 1em auto;
}

/* Estilizando o formulários de pesquisa */
div.filtros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset#didatico, fieldset#escola, fieldset#genero, fieldset#autor, fieldset#livro, fieldset#lidos{
	display: none;
}

/* Formatando os formulários de lista */
.form_lista button {
  padding: .5em;
  width: 10em;
  margin: 0;
}

/* Formatando a resposta dos formulários de cadastro */
.resposta {
  width: 50vw;
  margin: 0 auto;
  padding: 2em;
  display: none;
}

.interface-resposta {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  display: none;
}

.resposta p {
  text-align: center;
  font-size: 2em;
}

.resposta button {
  display: block;
  margin: 2em auto;
}

.resposta input[type="radio"],
.interface-resposta input[type="radio"] {
  display: none;
}

.resposta label.escolha,
.interface-resposta label.escolha {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: .2em;
  border: 2px solid #CCC;
  text-align: center;
  cursor: pointer;
}

.resposta input[type="radio"]:checked + label.escolha,
.interface-resposta input[type="radio"]:checked + label.escolha {
  border: 2px solid #00ABF9;
}

.resposta input[type="radio"]:checked + label.escolha:after,
.interface-resposta input[type="radio"]:checked + label.escolha:after {
  content: "";
  background: url("../img/check.png");
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  bottom: -10px;
}

#resultstwo,
#resultsthree {
  text-align: center;
  margin: 0 1em;
  padding: 1em;
}

.interface-resposta p,
.interface-resposta label,
.interface-resposta input {
  font-size: 1.6em;
}

#resultstwo {
  width: 30%;
  float: left;
}

#resultsthree {
  width: 65%;
  float: right;
}

#resultsthree input[type="text"],
#resultsthree input[type="date"] {
  display: block;
  margin: 1em auto;
}

table {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}

table th {
  font-size: 1.6em;
  font-weight: bold;
}

table td {
  font-size: 1.6em;
  border: 1px solid #FFF;
  padding: .5em;
}

/* Formatando a div com a data dos prazos */
.data {
  width: 80%;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.data label {
  margin-right: 1em;
}

.data select {
  flex-grow: auto;
  padding: .3em;
}

.data input[type="date"] {
  margin-left: 0px;
}
