@charset: "UTF-8";
@import url("color.css");
@import url("geral.css");

/* Configurando os títulos dos menus */
h1{
    font-size: 3em;
    color: #FF6600;
    text-align: center;
    margin: 1em 0;
}

/* Configurando a div flex */
#flex{
    width: 100%;
    height: 30%;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}

/* Estilizando a imagem do logo */
.img-menor img {
	max-width: 100%;
}

.img-menor {
	display: block;
	margin: 0 auto;
	width: 40%;
}
