@charset "UTF-8";
@import url("color.css");
@import url("geral.css");

/* Formatando a home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Formatando a div do menu do sistema */
.menu-system {
	display: flex;
	justify-content: center;
	width: 100%;
}

/* Configuração basica */
.btn-menu {
  margin: auto 1em;
}
