/* Arquivo que formata todos os formularios */
@import url(geral.css);
@import url(color_styles.css);

@charset "utf-8";

/* Formatando o formulario */
label {
  font-weight: bold;
  font-size: 2.4em;
	margin: 5px;
}

/* Formantando os fieldsets */
fieldset {
    border: 5px solid rgb(255, 170, 51);
    border-radius: 5px;
    width: 100%;
    display: flex;
}

legend{
    font-size: 1.8em;
}

input{
    font-size: 2.4em;
}

    input:focus{
        border: 2px solid rgb(255, 102, 0);
        color: rgb(255, 102, 0);
    }

/* Formatando os formulários */
.form_adicionar, .form_pesquisar, .form_imprimir{
	position: relative;
  color: rgb(255, 255, 255);
	margin: 0px auto;
	width: 50%;
}

.form_adicionar div, .form_pesquisar div, .form_imprimir div{
    margin: 0.5em;
    display: flex;
    justify-content: space-between;
}

.form_adicionar div label, .form_pesquisar div label{
	width: 6em;
}

.form_adicionar div input, .form_adicionar div select, .form_pesquisar select{
	flex-grow: 2;
}

.form_pesquisar select, .form_adicionar select{
	font-size: 2.5em;
}

/* Fazendo sumir os fieldsets de exclusao */
#pesq_maior{
	display: none;
}

/* Estilizando os butoes para a pesquisa */
.bt-esc{
	border: none;
	width: 50%;
	height: 50px;
	font-size: 2.5em;
	margin: 5px;
	cursor: pointer;
}

/* Classe para os formulários das listas */
.form-lista{

}

/* Formantando os butoes para os formulários de soma */
.bt {
	margin: 5px;
	width: 30%;
	height: 40px;
	border: 0px;
	border-radius: 2px;
	cursor: pointer;
    font-size: 1.8em;
}

/* Configurando o elemento butao das paginas de pesquisa */
.bt_pesquisa {
    position: relative;
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 2em;
}

/* Estilizando o selects dos formulários de impressão*/
.form_imprimir select{
    width: 100%;
    font-size: 2em;
}

/* Estilizando os butoes do formulário de impressão*/
.form_imprimir button{
	flex-grow: 0;
	font-size: 2em;
}

/* Estilizando o formulários de pesquisa */
div.filtros{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset#didatico, fieldset#escola, fieldset#genero, fieldset#autor, fieldset#livro, fieldset#lidos{
	display: none;
}

/* Formatando a resposta */
.resposta {
  width: 49%;
  margin: 2em auto 0 auto;
  padding: 2em;
  border: 5px solid rgb(255, 170, 51);
  display: none;
}

#resposta {
  text-align: center;
  font-size: 2em;
}
